.aboutWrapper{
    .image{
        background-image: url("../../assets/about.png");
        width: 386px;
        height: 272px;
        margin-right: 70px;
    }
    .description{
        .title{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 15px;
        }
        .text{
            font-weight: 400;
            font-size: 15px;
            width: 594px;

        }
        color: #333333;
    }
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 90px;
    display: flex;
    justify-content: space-between;
}