   .moviesDetailWrapper{
        .image{
            img{
               width: 229px;
                height: 340px;
                border-radius: 20px; 
            }
            margin-right: 23px;  
        }
        .description{
            .descTop{
                .title{
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 100.68%;
                    text-transform: uppercase;
                    color: #E59C9C;
                }
                .rating{
                    font-weight: 800;
                    font-size: 27px;
                    line-height: 37px;
                    color: #333333;
                    position: relative;
                }::before{
                    content: "";
                    position: absolute;
                    background-image: url("../../assets/star.png");
                    top: 0px;
                    left: -54px;
                    width: 43px;
                    height: 43px;
                }
                display: flex;
                justify-content: space-between;
            }
            .descBottom{
                .subTitleWrapper{
                    .subTitle{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        text-transform: uppercase;
                        color: #333333;
                        text-transform: uppercase;
                        margin-right: 50px;
                        width: 116px;
                        margin-bottom: 24px;
                    }
                    margin-right: 50px;
                }
                .valueWrapper{
                    .value{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        text-transform: uppercase;
                        color: #333333;
                        margin-bottom: 28px;
                        span{
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 19px;
                            text-transform: uppercase;
                            color: #333333;
                            margin-bottom: 28px;
                        }
                    }:last-child{
                        font-weight: 400;
                        text-transform: none;
                    }
                }
                display: flex;
                margin-top: 65px;
            }
        }
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        padding: 40px 90px 175px;

    }
