.mainPage{
    .offer{
        .title{
            color: #E59C9C;
            font-size: 60px;
            font-weight: 700;
        }
        .text{
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 73px;
        }
    }
    text-align: center;
    .moviesList{
        .moviesItem{
            margin-right: 110px;
        }:nth-child(4){
            margin-right: 0;}
        :nth-child(8){
            margin-right: 0;
        }
        .categoryName{
            display: none;
        }
        display: flex;
        flex-wrap: wrap;
    }
}