.categoryPage{
    .whiteWrapper{
        .categoryName{
            span{
                font-weight: 700;
                color: #E59C9C;
                margin-right: 35px;
            }
            margin-bottom: 50px;
            font-size: 30px;
        }

            .moviesList{
        .moviesItem{
            width: 509px;
            display: flex;
            .bottom{
                .year{
                    display: none;
                }
                .title{
                    margin-bottom: 57px;
                }
            }
            .image{
                margin-right: 43px;
                margin-bottom: 0;
            }
            margin-bottom: 25px;
        }
    
        display: flex;
        flex-wrap: wrap;
    }

    }

}