.mainHeader{
.container{
    .logo{
        background: no-repeat url("../../assets/LogoHeader.svg");
        width: 185px;
        height: 41px;

    }
    nav{
        a{
            margin-right: 60px;
            font-size: 20px;
            font-weight: 400;
        }
        :last-child{
            margin-right: 0;
        }
    }
    max-width: 1230px;
    margin: 55px auto 90px;
    display: flex;
    justify-content: space-between;
}
}
.linkActive{
    color: #E59C9C;
    text-decoration: underline;
}