.moviesItem{
    .image{
    width: 180px;
    height: 260px;
    border-radius: 20px;
    margin-bottom: 20px;
}
    .bottom{
        .title{
            font-size: 15px;
            font-weight: 600;
            color: #333;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        .yearWrapper{
            font-size: 13px;
            font-weight: 400;
            color: #333;
            margin-bottom: 10px;
            display: flex;
        }
        .genre{
            font-size: 13px;
            font-weight: 400;
            color: #333;
            margin-bottom: 18px;
        }
        text-align: left;
    }
    margin-bottom: 20px;
}
