.searchPage{
    .whiteWrapper{
        .searchTitle{
            font-weight: 700;
            font-size: 30px; 
            margin-bottom: 30px;
        }
        .inputWrapper{
            input{
                width: 1050px;
                height: 40px;
                border-radius: 20px;
                border: 1px solid #888888;
                outline: none;
                font-weight: 400;
                font-size: 15px;
                padding: 0;
                padding-left: 66px;
            }::placeholder{
                color: #969696;
            }
            button{
                position: absolute;
                background-image: url("../../assets/loop.svg");
                width: 22px;
                height: 22px;
                border: none;
                background-color: #fff;
                top: 9px;
                left: 24px;
                cursor: pointer;
            }
            position: relative;
        }
        .results{
            font-weight: 600;
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 40px;
        }
        .moviesList{
            .moviesItem{
                .bottom{
                    .yearWrapper{
                        display: none;
                    }
                }
            }
        }
        .zeroSearch{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 200px;
            p{
                width: 226px;
                text-align: center;
                line-height: 1.5em;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
}