.mainFooter{
.container{
    .logo{
        background: no-repeat url("../../assets/LogoFooter.svg");
        width: 185px;
        height: 41px;
    }
    .title{
        font-size: 20px;
        font-weight: 400;
    }
    .made{
        text-align: right;
        font-size: 18px;
        font-weight: 700;
        span{
            margin-top: 5px;
            font-size: 20px;
        }
    }
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 154px;
    align-items: center; 
}
    background-color: #3A3A3A;
    color: white;
    margin-top: 100px;
}