.mainWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;    
}::after{
content: "";
  background-image: url("../../assets/background.svg");
  background-size: 100%;
  background-color: #000;
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
main{
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 1230px;
}
footer{
    flex: 0 0 auto;
}

.whiteWrapper{
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 90px 20px;
}